@inject SignInManager<ApplicationUser> signinManager
@inject UserManager<ApplicationUser> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorkMangement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @if (signinManager.IsSignedIn(User))
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @*<li class="nav-item">
                        <a class="nav-link" asp-action="UserPhases" asp-controller="Home" asp-route-employeeId="@userManager.GetUserId(User)">Pha được giao</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ListWorks" asp-controller="Home">Công việc</a>
                    </li>

                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="ListUsers" asp-controller="Home">Nhân viên</a>
                        </li>
                    }
                </ul>
                <a class="nav-link my-2 my-lg-0" asp-action="Logout" asp-controller="Account">Logout @User.Identity.Name</a>
            </div>
        </nav>
    }

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
