@model WorkEditView
@{
    ViewData["Title"] = "EditProject";
}

<h3>Chỉnh sửa công việc @Model.WorkName</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditWork" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WorkId" />
            <div class="form-group">
                <label asp-for="WorkName" class="control-label"></label>
                <input asp-for="WorkName" class="form-control" />
                <span asp-validation-for="WorkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDescription" class="control-label"></label>
                <input asp-for="WorkDescription" class="form-control" />
                <span asp-validation-for="WorkDescription" class="text-danger"></span>
            </div>
            <div class="card" style="width:900px">
                <div class="card-header">
                    <h5>Công việc</h5>
                </div>
                <div class="card-body">
                    @if (Model.WorkPhases.Count != 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tên pha</th>
                                    <th>Phân công</th>
                                    <th>Hoàn thành</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Phase phase in Model.WorkPhases)
                                {
                                    <tr>
                                        <td>
                                            @phase.PhaseName
                                        </td>
                                        <td>
                                            @if (phase.EmployeeId == null)
                                            {
                                                <span class="text-danger">Chưa phân công</span>
                                            }
                                            else
                                            {
                                                <span class="text-success">@phase.DisplayName</span>
                                            }
                                        </td>
                                        <td>
                                            @if (phase.IsFinish)
                                            {
                                                <input type="checkbox" checked disabled/>
                                            }
                                            else
                                            {
                                                <input type="checkbox" disabled/>
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="EditPhase" asp-route-phaseId="@phase.PhaseId">Edit</a> /
                                            <a asp-action="DeletePhase" asp-route-phaseId="@phase.PhaseId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h5 class="card-title">Chưa có pha nào</h5>
                    }
                </div>
                <div class="card-footer">
                    <a asp-action="AddPhase" asp-controller="Home" asp-route-workId="@Model.WorkId" style="width:auto" class="btn btn-primary">
                        Thêm pha
                    </a>
                </div>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListWorks">Trở lại danh sách</a>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

